nav {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 3em;
    height: 6em;
    background-color: #CE7DA5;
    transition-duration: 0.2s;
  }
  
  nav .title {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2.5em;
    color: #fff;
  }
  
  nav .title a {
    text-decoration: none;
    color: #fff;
  }
  
  nav .title a:visited {
    text-decoration: none;
    color: #fff;
  }
  
  nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 50em;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav .links li {
    list-style: none;
    padding-top: 1.2em;
  }
  
  nav .links a {
    display: block;
    padding: 1.1em;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s;
  }
  
  nav .links a:hover {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
    border-bottom: 2px white solid;
  }
  
  #nav-toggle {
    position: absolute;
    top: -100px;
  }
  
  nav .icon-burger {
    display: none;
    position: absolute;
    right: 2em;
    top: 2em;
    transform: translateY(-50%);
  }
  
  nav .icon-burger .line {
    width: 2em;
    height: 0.2em;
    background-color: #fff;
    margin-bottom: 0.4em;
    transition: all .3s ease-in-out;
  }
  
  .bgColor2 {
    background-color: rgba(0, 0, 0, 0.71);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
  }
  
  .menu-btn {
    padding: 1em 1em 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.00);
    color: white;
    font-size: 1.2em;
    border: none;
  }
  
  .dropdown-menu {
    padding: 0;
    margin: 0;
    display: block;
  }
  
  .menu-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .links,
  .links-hidden {
    text-decoration: none;
  }
  
  .dropdown-menu:hover .menu-content {
    display: block;
    background-color: rgba(0, 0, 0, 0.40);
  }
  
  /*mobile css*/
  @media screen and (max-width: 1000px) {
    nav {
      height: 4em;
    }
  
    nav .title {
      float: none;
      width: auto;
      justify-content: center;
      font-size: 2em;
    }
  
    nav .links {
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 4em;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: rgba(0, 0, 0, .8);
      overflow: hidden;
      box-sizing: border-box;
    }
  
    nav .links a {
      font-size: 1em;
    }
  
    nav :checked~.links {
      bottom: 0;
    }
  
    nav .icon-burger {
      display: block;
    }
  
    nav :checked~.icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
  
    nav :checked~.icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }
  
    nav :checked~.icon-burger .line:nth-child(2) {
      opacity: 0;
    }
  }